<!--Include header-->
<%-include("include/_header")%>

    <!--Main-->
    <main id="main1">
        <div class="container">
            <!--All User Button starts here-->
            <div class="box">
                <a href="/" class="add-user">
                    <span class="text-gradient"><i class="fas fa-angle-double-left"></i>All Users</span>
                </a>
            </div>
            <!--All User Button ends here-->
            <%-include("include/_form")%>

        </div>
    </main>
    <!--Main-->
    <!--Include footer-->
    <%-include("include/_footer")%>